@model Album

@{
    ViewData["Title"] = "Create New Album";
}

<form asp-action="Create" asp-controller="Album" method="post">

    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Title"><b>Add Album</b></label>
   
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Author">Author</label>
        <input asp-for="Author" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Song">Song</label>
        <input asp-for="Song" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Rating">Rating</label>
        <input asp-for="Rating" class="form-control" />
    </div>
    <br />
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="List" asp-controller="Album" class="btn btn-primary">Cancel</a>
    </div>
</form>
